.product-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    flex-direction: row;
    flex:1 1;
    
  }
  .left{
    margin-right: 150px;}
  .product-card{
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    backdrop-filter: blur(55px);
    width: 360px;
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
    margin: 20px;
    margin-top: 20px;
  }
  h1 {
    color: white;
    margin-bottom: 20px;
  }
  button {
    border: none;
    padding: 20px;
    color: black;
    font-weight: 500;
    font-size: 18px;
    background-color: rgba(255, 255, 255,1);
    border-radius: 40px;
    cursor: pointer;
  }
  